/*body{
    height: 90vh;
}
#a{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: black;
}
div{
    animation-name: stud;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: steps(20);
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#b{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
    */

body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

#a{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;

    display: flex;
    justify-content: center;
    align-items: center;
}

#b{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
}

@keyframes stud {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}

div{
    animation: stud 0.5s steps(300) infinite alternate-reverse;
}